main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}

.payment-btn {
  width: 100%;
  border-radius: 8px;
  background: #f89c35 !important;
  font-size: 18px;
  border: none;
  outline: none;
  box-shadow: none !important;
}

.payment-btn:hover, .payment-btn:focus {
  background: #f3a54d !important;
  box-shadow: none !important;
  border: none;
}

.request-withdraw-modal .form-group {
  padding: 10px 20px;
}

.line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.income, .success {
  color: #52c41a;
}

.outcome, .fail {
  color: #ff4d4f;
}

.pending {
  color: #1677ff;
}

.ant-message {
  z-index: 1051;
}